<!DOCTYPE html><!-- Same as 0-base.html with the exception of the menu( used mostly for Login page)-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment Tracker</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 40px; }
        a { margin-right: 10px; }
        .container { max-width: 800px; margin: auto; }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>



<body>

<div class="layout">

    

    <main class="content">
        {% block content %}{% endblock %}
    </main>

</div>

</body>


<footer class="team-footer">
    <center>
&copy; 2026 The Phasers  |  <a href="https://github.com/OrangeXR" title="Luis M"><img width="15" alt="profile image" src="https://avatars.githubusercontent.com/u/77978673?s=64&v=4" /></a><a href="https://github.com/soldudo" title="Nico G"><img width="15" alt="A graphic-heavy logo" src="https://avatars.githubusercontent.com/u/88810277?s=64&v=4" /><a href="https://github.com/nere-var" title="Emma W"><img width="15" alt="profile image" src="https://avatars.githubusercontent.com/u/58350011?v=4" /></a><a href="https://github.com/A-perez2265" title="Augustine P"><img width="15" alt="A graphic-heavy logo" src="https://avatars.githubusercontent.com/u/192671553?v=4" /><a href="https://github.com/bfier98" title="Ben F"><img width="15" alt="profile image" src="https://avatars.githubusercontent.com/u/220130367?v=4" /></a>
</center>
</footer>


</html>
