{% extends "0-base.html" %}
{% block content %}

<h1>Your Profile</h1>
<div class="profile-container">

    <img src="{{ url_for('static', filename='/profile_pics/' ~ user['profile_picture']) }}"
         class="profile-pic">

    <h2>{{ user['username'] }}</h2>

    <form method="POST" enctype="multipart/form-data">
        <label>Upload New Profile Picture:</label><br>
        <input type="file" name="profile_pic" accept="image/*"><br><br>
        <button type="submit">Save</button>
    </form>

</div>

<hr>

<h2>Completed Assignments</h2>

<section class="assignment-grid">
    {% for a in done_assignments %}
    <div class="assignment-card done">

        <strong>
            <span class="assignment-text1">{{ a['class_name'] }}</span>
        </strong>

        <span class="assignment-text2">
            {{ a['name'] }} - {{ a['category'] }} — completed {{ a['due_date'] }}
        </span>

        <div class="assignment-links">
            <a href="{{ url_for('edit', assignment_id=a['id']) }}">Edit</a>
            <a href="{{ url_for('delete', assignment_id=a['id']) }}">Delete</a>
        </div>

    </div>
    {% endfor %}
</section>

{% endblock %}
